<!doctype html>
<html>
<head>
    <title>Brädgården</title>
    <meta charset="utf-8">
    <link href='https://fonts.googleapis.com/css?family=Audiowide' rel='stylesheet'>
    <link rel="stylesheet" href="style.css" />
    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
    <link rel="manifest" href="/site.webmanifest">
    <link rel="mask-icon" href="/safari-pinned-tab.svg" color="#5bbad5">
    <meta name="msapplication-TileColor" content="#da532c">
    <meta name="theme-color" content="#ffffff">
</head>

<body>

<section>
    <h1 id="intro"> Welcome to Brädgården! </h1>
</section>

<section>
    <h1 id="leaderboard"> Leaderboard </h1>
    <picture id="logo">
        <img src="brädgårdenlogo.png" alt="Brägrådens logo">
    </picture>
    <div id="members">
        {{#members}}
        <ul>
            <h3> {{ firstName }} {{ lastName }} </h3>
            <li> Games Played: {{ gamesPlayed }}         </li>
            <li> Wins: {{ wins }}                        </li>
            <li> Losses: {{ losses }}                    </li>
            <li> Ratio {{ winRatio }}                    </li>
            <li> Times Traitor: {{ timesTraitor }}       </li>
        </ul>
        {{/members}}
    </div>
    <div style="clear:both;"></div>
</section>


</body>
<footer id="footer">
    Brädgården is a board gaming society in Malmö
</footer>
</html>